
# ignore temp-python files
# ignore .pyc files
*.pyc

# ignore __pycache__ folder
__pycache__/

# ignore temp-latex files
*.log
*.aux
*.synctex.gz
*.bbl
*.bcf
*.blg
*.lof
*.lot
*.out
*.run.xml
*.toc
*.bat
*.bak
*.bib.sav